<app-nav [breadcrumb]="currentbreadcrumb" class="mb-80"></app-nav>
<div class="container mb-40 pt-5">
  <div class="row">
    <section class="flex getintouch">
      <div>
        <h3 class="mb-20 text-right-ar">{{ "contactUs.title" | translate }}</h3>
        <p class="mb-20 color-sec get_title text-right-ar">
          {{ "contactUs.getInTouch" | translate }}
        </p>
        <p class="mb-40 text-right-ar">
          {{ "contactUs.subTitle" | translate }}
        </p>
        <div class="icons">
          <div class="flex align-items-start">
            <img src="../../../assets/images/contact/phone.png" />
            <p class="text-right-ar">
              <span> {{ "contactUs.phone" | translate }} </span>
              +1234567890
            </p>
          </div>
          <div class="flex align-items-start">
            <img src="../../../assets/images/contact/location.png" />
            <p class="text-right-ar">
              <span> {{ "contactUs.location" | translate }} </span>
              lorem , ipsum
            </p>
          </div>
          <div class="flex align-items-start">
            <img src="../../../assets/images/contact/mail.png" />
            <p class="text-right-ar">
              <span> {{ "contactUs.email" | translate }} email </span>
              demo@gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="contact-form donation-form">
        <mat-card>
          <form
            [formGroup]="contactForm"
            class="form-container donation-form"
            (ngSubmit)="sendcontactForm()"
          >
            <mat-form-field appearance="outline">
              <mat-label> {{ "general.formName" | translate }} </mat-label>

              <input
                formControlName="name"
                matInput=""
                placeholder="Full Name"
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ "general.formEmail" | translate }}</mat-label>

              <input
                formControlName="email"
                matInput=""
                placeholder="Email"
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                type="email"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label> {{ "general.formPhone" | translate }}</mat-label>

              <input
                formControlName="phone"
                matInput=""
                placeholder="Phone Number"
                type="text"
                required
                maxlength="10"
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ "general.formSubject" | translate }}</mat-label>

              <input
                formControlName="subject"
                matInput=""
                required
                placeholder="Subject"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="textarea">
              <mat-label>{{ "general.formMessage" | translate }}</mat-label>

              <textarea
                formControlName="body"
                matInput=""
                required
                placeholder="Message"
              ></textarea>
            </mat-form-field>

            <button type="submit">
              {{ "general.formSubmit" | translate }}
            </button>
          </form>
        </mat-card>
      </div>
    </section>
  </div>
</div>
