<app-nav [breadcrumb]="currentbreadcrumb"></app-nav>

<div class="container AboutSec">
  <div class="row">
    <div class="d-flex justify-content-between mb-4">
      <h3 class="mt-4">{{ "nav.aboutus" | translate }}</h3>
      <div class="icon mt-2">
        <div class="phone-icon-container">
          <div class="phone-icon">
            <div class="text-center">
              <a href="#">
                <div class="btn">
                  <i class="ico"></i>
                  <span>0123456787</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="flex about-first-sec align-items-md-start mb-20">
      <div class="text-right-ar">
        <h4 class="text-capitalize color-sec mb-40  ">
          {{ aboutData.AboutUsMain.title }}
        </h4>

        <p>
          {{ aboutData.AboutUsMain.intro }}
        </p>
      </div>
      <div>
        <img src="../../../assets/images/logo.png" />
      </div>
    </section>
    <section class="mb-20 about_banner">
      <img src="{{ baseUrl + aboutData.AboutUsMain.image_path }}" />
    </section>
    <section class="mb-40">
      <p class="px-4 text-right-ar">
        {{ aboutData.AboutUsSection2.intro }}
      </p>
    </section>
    <h4 class="text-capitalize color-sec mb-40 text-center">
      {{ "about.Whychooseus" | translate }}
    </h4>
    <section class="flex choose mb-40">
      <div class="text-right-ar">
        <h5 class="color-pri">
          <span>{{ choose[chooseContent].num }} </span>
          {{ choose[chooseContent].title }}
        </h5>
        <p class="px-4">
          {{ choose[chooseContent].content }}
        </p>
      </div>
      <div class="icons">
        <div (click)="setChooseContent(0)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs01.image_path + ')'
            "
          ></div>
        </div>
        <div (click)="setChooseContent(1)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs02.image_path + ')'
            "
          ></div>
        </div>

        <div (click)="setChooseContent(2)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs03.image_path + ')'
            "
          ></div>
        </div>

        <div (click)="setChooseContent(3)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs04.image_path + ')'
            "
          ></div>
        </div>
      </div>
    </section>
  </div>
</div>
