// Arabic 

.direction{
// =========================== arbic Fonts  ===============================
    direction: rtl;
  
  
    p , span , a , button , label{
        font-family: CairoReg;
    }
    h2  , h3 ,h4 ,h5{
      font-family: CairoBold;
    
    }
// All
.text-right-ar{
    text-align: right;
}
form {
    direction: ltr;
}

//Home 
.mat-form-field-appearance-outline .mat-form-field-infix{
    text-align: right;
}
.carousel-indicators{right: 0% !important; left: 16% !important;}
// footer

.newsLetter{
    order: -1;

    display: flex;
    align-items: center;
    > .subscribe{
        order:-1
    }
}
.radioBtns{
    order : -1
}












    }