<app-nav [breadcrumb]="currentbreadcrumb" class="mb-40"></app-nav>

<section class="about-first-sec mb-80 mt-4 sec">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <h3>Our Partner</h3>

    

        <p>
          {{PartnertData.intro}}

        </p>
      </div>
      <div class="col-md-1">
        <div class="icon mt-2">
          <img
            class="about_icon"
            src="../../../assets/images/about/about_icon.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="logo-panner">
  <img src="../../../assets/images/logo.png" />
</section>
<!-- <div class="partner">
  <div class="txt">
    <h2>        {{PartnertData.title}}
    </h2>
    <p>        {{PartnertData.our_partner}}
    </p>
  </div>
  <section class="grid_logos">
    <div class="col1">
      <figure>
        <img src="../../../assets/images/partners/1.png" />
      </figure>
    </div>
    <div class="col2">
      <figure>
        <img src="../../../assets/images/partners/2.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/3.png" />
      </figure>
    </div>

    <div class="col3">
      <figure>
        <img src="../../../assets/images/partners/4.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/5.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/6.png" />
      </figure>
    </div>
    <div class="col4">
      <figure>
        <img src="../../../assets/images/partners/7.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/8.png" />
      </figure>
    </div>
    <div class="col51">
      <figure>
        <img src="../../../assets/images/partners/9.png" />
      </figure>
    </div>
  </section>
  <section class="grid_logos mob">
      <figure>
        <img src="../../../assets/images/partners/1.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/2.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/3.png" />
      </figure>

      <figure>
        <img src="../../../assets/images/partners/4.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/5.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/6.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/7.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/8.png" />
      </figure>
      <figure>
        <img src="../../../assets/images/partners/9.png" />
      </figure>
  </section>
</div> -->


  <div class="container">
    <div class="row">
      <div class="logos">
      <div class="logo_company" *ngFor="let item of PartnertDataInfo; let index=index">
        <img src="{{ baseUrl +  item.company_name }}"   />
    
      </div>
    </div>
  </div>


</div>