<app-nav [breadcrumb]="currentbreadcrumb"></app-nav>

<section class="home-sec2 bg-blue mb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="doner flex justify-content-between align-items-center">
          <div>
            <p class="color-pri">{{ "home.BecomeDoner" | translate }}</p>
            <h4>{{ "home.makeDonation" | translate }}</h4>
          </div>
          <form
            [formGroup]="makeDonationForm"
            class="form-container donation-form flex justify-content-between"
            (ngSubmit)="sendDonar()"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{ "general.formName" | translate }}</mat-label>

              <input
                formControlName="name"
                matInput=""
                placeholder="Donar Name"
                type="text"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ "general.formEmail" | translate }}</mat-label>

              <input
                formControlName="email"
                matInput=""
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                type="email"
                required
                placeholder="Enter Your Email"
              />
            </mat-form-field>

            <button type="submit" [disabled]="!makeDonationForm.valid">
              {{ "home.makeDonation" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-sec3 align-items-md-start mb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 class="text-right-ar">{{ "home.AboutUs" | translate }}</h2>
        <h4 class="text-capitalize color-sec mb-40 text-right-ar">
          {{ homeStaticData?.AboutUsSection?.title }}
        </h4>

        <p class="text-right-ar">
          {{ homeStaticData?.AboutUsSection?.body }}
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <img
          src="{{ baseUrl + homeStaticData.AboutUsSection.image_path[0] }}"
        />
        <div class="flex">
          <img
            src="{{ baseUrl + homeStaticData.AboutUsSection.image_path[1] }}"
          />
          <img
            src="{{ baseUrl + homeStaticData.AboutUsSection.image_path[2] }}"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-sec4 mb-40">
  <div class="container">
    <div class="row">
      <h2 class="text-center">{{ "home.lastAchievemnt" | translate }}</h2>

      <div>
        <div>
          <div *ngFor="let item of achievementData | slice: -3">
            <img src="{{ baseUrl + item.cover_path }}" />
            <h4 class="text-right-ar">
              {{ item.title }}
            </h4>
            <p class="text-right-ar">
              {{ item.body }}
            </p>
            <a class="text-right-ar" routerLink="/achievement/{{ item.id }}">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-sec2 home-sec5 bg-blue mb-40">
  <div class="container">
    <div class="row">
      <div>
        <p class="color-pri">{{ "home.JoinUs" | translate }}</p>
        <h4>{{ "home.BecomeaVolunteer" | translate }}</h4>
      </div>
    </div>
    <div class="row">
      <div>
        <form
          [formGroup]="makeVolunteerForm"
          class="form-container donation-form"
          (ngSubmit)="sendVolunteer()"
        >
          <div
            class="field mb-3 flex justify-content-around align-items-center"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{ "footer.newsLetter" | translate }} </mat-label>

              <input
                formControlName="name"
                matInput=""
                placeholder="Enter Full Name"
                type="text"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ "general.formEmail" | translate }}</mat-label>

              <input
                formControlName="email"
                matInput=""
                placeholder="Enter Your Email"
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                type="email"
                required
              />
            </mat-form-field>
          </div>

          <div
            class="field mb-3 flex justify-content-around align-items-center"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{ "general.formPhone" | translate }}</mat-label>

              <input
                formControlName="phone"
                matInput=""
                placeholder="Enter Phone"
                type="number"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ "general.formRegion" | translate }}</mat-label>

              <input
                formControlName="region"
                matInput=""
                placeholder="Enter Your Region"
                type="text"
                required
              />
            </mat-form-field>
          </div>
          <div
            class="field mb-3 m-auto flex justify-content-center align-items-center select"
          >
            <mat-form-field appearance="fill">
              <mat-label>
                {{ "home.wantBecomeaVolunteer" | translate }}
              </mat-label>
              <mat-select
                formControlName="activity"
                matInput=""
                placeholder="What do you want to volunteer?"
              >
                <mat-option
                  *ngFor="let activity of activities"
                  [value]="activity"
                >
                  {{ activity }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button type="submit" [disabled]="!makeVolunteerForm.valid">
            {{ "home.JoinUsNow" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<div id="urget-dep" *ngIf="urgetDepView">
  <div class="img">
    <img src="{{ baseUrl + urgetDep?.image_path }}" />
  </div>
  <div class="data">
    <span class="close" (click)="closeUrgentData()"
      ><i class="fas fa-times"></i
    ></span>

    <h4>{{ urgetDep?.title }}</h4>
    <p>{{ urgetDep?.description }}</p>
    <p class="num">
      <span> Need : </span>
      {{ urgetDep?.need }}
    </p>
  </div>
</div>
