<div class="mb-40">
  <app-nav [breadcrumb]="currentbreadcrumb"></app-nav>
</div>
<div>
  <div class="container">
    <div class="row">
      <section class="responsive-doc flex about-first-sec align-items-md-start">
        <div>
          <h4 class="text-capitalize color-sec mb-40">
            {{ DocStaticData.title }}
          </h4>

          <p>
            {{ DocStaticData.intro }}
          </p>
        </div>
        <div>
          <img src="../../../assets/images/logo.png" />
        </div>
      </section>
    </div>
  </div>
</div>

<div class="container mt-5 ">
  <section class="bg-gray pb-40 pt-40">
    <div class="container">
      <div
        class="row doc mb-80 align-items-center"
        *ngFor="let item of files; let i = index"
      >
        <div class="col-md-12 col-sm-12 d-flex" *ngIf="i % 2 === 0">
          <div class="col-md-6 col-sm-12">
            <h4>{{ item.title }}</h4>
            <p>
              {{ item.intro }}
            </p>
            <div class="flex align-items-center mb-2">
              <img  src="../../../assets/images/documents/pdf.png" />
              <h4>{{ item.title }}</h4>
              <a
                (click)="setDocumentDownloaded(item)"
               
              >
                Download
            </a>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 image">
            <div >
              <img class="docs_image" src="{{ baseUrl + item.image_path }}" />
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 d-flex" *ngIf="i % 2 !== 0">
          <div class="col-md-6 col-sm-12">
            <div>
              <img class="docs_image" src="{{ baseUrl + item.image_path }}" />
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <h4>{{ item.title }}</h4>
            <p>
              {{ item.intro }}
            </p>
            <div class="flex align-items-center mb-2">
              <img src="src=../../../assets/images/documents/pdf.png" />
              <h4>{{ item.title }}</h4>
              <!-- <a href="{{ baseUrl + item.file_path }}" target="_blank"
                >
              </a> -->
              <a
             
                (click)="setDocumentDownloaded(item)"
            
              >
                Download
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="doc_download" *ngIf="viewModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Download document
          </h5>
          <button type="button" (click)="viewModal = close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form
          [formGroup]="downloadForm"
          class="form-container"
          (ngSubmit)="sendDownloadForm()"
        >
          <div class="modal-body">
            <div>
              <div class="form-group">
                <label>Name </label>
                <input
                  formControlName="name"
                  matInput=""
                  placeholder="Name"
                  type="text"
                  required
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Email </label>
                <input
                  formControlName="email"
                  matInput=""
                  placeholder="Email"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  type="email"
                  required
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>

              <div class="form-group">
                <label>Phone Number </label>
                <input
                  formControlName="phone"
                  formControlName="phone"
                  matInput=""
                  placeholder="Phone Number"
                  type="number"
                  required
                  maxlength="10"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="viewModal = close"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="submitClicked">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
